.App {
  text-align: center;
  margin: auto;
  background: #3DBFFF;
}

.landing{
  height: 100vh;
  background-size: cover;
  color: white;
}

.row{
  background: white;
  height:570px;
}

.feature{
  background-size: cover;
  background-position: center;
}


.testimonials{
  height:100vh;
  background: white !important;
  width: 100vw !important;
}



img{
  width: 25vw;
}

.gallery{
  padding: 0;
  margin-left:0 !important;
  margin-right:0 !important;
  width:100vw !important;
}

.footer{
  height:100vh;
  background: #8BD4C3;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}