@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&display=swap');

button, h2, .col a, h4, h3, span {
  font-family: 'Fraunces', serif;
}

.App {
  text-align: center;
  margin: auto;
  background: #3DBFFF;
  font-family: 'Barlow', sans-serif;
}

.landing{
  height: 100vh;
  background-size: cover;
  color: white;
}

.nav{
  background: pink;
}

h1 {
  font-size: 37px;
  font-weight: 800;
  font-family: 'Barlow', sans-serif;
}

button{
  padding: 5px 10px;
  border-radius: 25px;
  border: 0px;
}

.row{
  background: white;
  height:570px;
}

.feature{
  background-size: cover;
  background-position: center;
}

.testimonials{
  height:100vh;
  background: white !important;
  width: 100vw !important;
}

.client-img{
  width: 144px;
  height: 144px;
  border-radius: 50%;
}

img{
  width: 25vw;
}

.gallery{
  padding: 0;
  margin-left:0 !important;
  margin-right:0 !important;
  width:100vw !important;
}

.footer{
  height:100vh;
  background: #8BD4C3;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}